:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Path: src/index.js */

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.color-square {
  width: 50vmin;
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.input-zone {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  background-color: #101010;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.hashtag {
  display: inline-block;
  padding: 10px 0 10px 20px;
  height: 100%;
  opacity: 0.65;
  font-size: 1.5em;
}

.color-input {
  background: none;
  border: none;
  padding: 10px 20px 10px 1px;
  border-radius: 20px 0 0 20px;
  width: 200px;
  font-size: 1.5em;
}
.color-input:focus {
  outline: none;
}

.submit-button {
  border: none;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.hp-ticker {
  align-items: center;
  justify-content: center;
  display: flex;
  /* font-family: monospace; */
}

.hp-container {
  /* Container properties */
  width: 100%;
  background-color: #3a0808;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.hp-bar {
  position: absolute;
  height: 100%;
  background-color: rgb(15, 150, 75);
  transition: width 0.3s ease-in-out;
}

.hidden {
  visibility: hidden;
}
